@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ******* SETUP ********* */
:root
{
    --background: #fff;
    --orange-button: #F2994A;
    --dark-orange: #FD830D;
    --light-orange: #FFBA49;
    --dark-purple: #4C51C6;
    --light-purple: #607FF2;
    --purple-icon-light: #99AEFF;

    --purple-degrade: linear-gradient(45deg, #4C51C6, #92A9FF);
    --orange-degrade: linear-gradient(45deg, #F48F38, #FFBA49);

    --boderRadius: 20px;
    --shadow: 4px 6px 20px lightgrey;;

    --text-color: #92929D;
    --text-weight: 400;

    --title-color: #000;
    --weight-title: 500;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
	text-decoration:none;
}
ul{
	list-style:none;
}

/* ******* CONTAINER ********* */
.container {
    background-color: var(--background);
    /* display: flex;
    max-width: 1600px;
    height: 100vh; */
    width: 90%;
    /* overflow: hidden; */
    margin: 0 auto;
  }


/* ******* HOME ********* */


/* ******* FEATURES ********* */

.feature_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.box_text_feature {
    width: 370px;
    height: 116px;
    display: flex;
    align-items: center;
    text-align: center;
}

#text_feature {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    line-height: 58px;
    letter-spacing: 0.005em;
    color: var(--title-color-feature);
}

.container_features {
    width: 100%;
    height: 80vh;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.box_feature {
    width: 296px;
    height: 317px;
    background-color: var(--background);
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    border: var(--border-box-feature) solid 1px;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

#box_align {
    align-self: flex-start;
}

.purple_box {
    width: 56px;
    height: 56px;
    background-color: var(--purple-icon-light);
    margin: 20px 0px 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_box {
    margin-left: 20px;
    width: 210px;
    height: 35px;
}

.title_box span {
    font-size: 23.99px;
    font-weight: var(--weight-title);
    color: var(--title-color-feature);
}

.text_box {
    text-align: justify;
    margin: 20px 0px 0px 20px;
    width: 254px;
}

#text_box_special {
    font-size: 16.17px;
}

.box_feature:hover span, .box_feature:hover {
    background-color: var(--light-purple);
    color: white;
    border: var(--light-purple) solid 1px;
}

.box_feature:hover div {
    background-color: var(--background);
}

/* ******* ABOUT ********* */
.about{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: "t i";
    grid-column-gap: 10%;
    margin-top: 70vh; 
    justify-content: space-evenly;
    align-content: space-evenly;
}


@media screen and (max-width: 1000px) {
    .about{
        grid-template-columns: 110vh 110vh;
        grid-template-areas: "t"
                             "i";
        justify-content: center;
        align-content: space-between;
        margin: 0 auto;
        margin-left: 110vh;
        margin-top: 70vh;
    }
    
    .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
        width: 150%;
        height: 40vh;
        margin-top: 3vh;
        border-radius: 1em 1em 1em 1em;
    }

    .div_sobre_esquerda{
        float: left;
        padding:0;
        display: flex;
        justify-content: center;
        /* height: 55vh;
        width: 30vw; */
        grid-area: t;

    }
    
    .div_sobre_direita{
        float: left;
        padding:0;
        margin-top: 8.5%;
        display: flex;
        justify-content: center;
        /* height: 65vh;
        width: 35vw; */
        grid-area: i;

    }
}

.about .div_sobre_direita{
    display: flex;
    justify-content: flex-end;
}

#imagemRapaziadaEscritorio{
    width: 41vw;
    height: 41vh;
    margin-top: 3vh;
    border-radius: 1em 1em 1em 1em;
}

.imagem_rapaziada_escritorio{
    position: absolute;
    z-index: 1;
}

.div_sobre_esquerda{
    float: left;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5vh;
    /* height: 55vh;
    width: 30vw; */
    grid-area: t;
}

.div_sobre_direita{
    float: left;
    padding:0;
    /* margin-left: 8.5%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* height: 65vh;
    width: 35vw; */
    grid-area: i;
}

.titulo{
    width: 100%;
    float: left;
}

.titulo_cor{
    color: var(--orange-button);
}

.destaque_titulo{
    float: left;
}

.titulo_texto{
    float: left;
}

.texto{
    width: 90%;
    float: left;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    margin-top: 5vh;
}

.imagem{
    float: right;
    width: 120%;
    height: 70vh;
}

.div_button{
    width: 100%;
    height: 100%;
    margin-top: 12vh;
}

.button{
  color: var(--background);
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;
    width: 10em;
    height: 3.5em;
    transition: 0.8s;
    border: 0;
    background-color: #F2994A;
}

.div_button .button:hover{
  box-shadow: 1px 1px 10px var(--shadow),
  1px 1px 40px var(--orange-button);
  background-color: #FFBF86;
  transition: 0.4s;
}

.details{
    z-index: 1;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 20em;
}

#detail{
    height: 46vh;
    width: 15vw;
}

.elipses{
    float: left;
    display: flex;
    flex-direction: row;
    position: relative;
}
.retangulo{
    float: left;
    display: flex;
    flex-direction: row;
    position: relative;
}
.topo_imagem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

@media screen and (max-width: 730px){

  .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
      width: 150%;
      height: 41vh;
      margin-top: 3vh;
      border-radius: 1em 1em 1em 1em;
  }
}

@media screen and (max-width: 716px){

    .about{
      margin-top: 215vh;
    }

    .texto{
      width: 80%;
    }

    .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
      width: 145%;
      height: 41vh;
      margin-top: 3vh;
      border-radius: 1em 1em 1em 1em;
  }
  
}

@media screen and (max-width: 695px){

  .about .div_sobre_direita{
    width: 90%;
  }
  .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
    width: 130%;
  }
}

@media screen and (max-width: 650px){

    .about{
        margin-top: 195vh;
    }
    
    .about .div_sobre_direita{
      width: 80%;
    }

    .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
      width: 120%;
    }

    #detail{
        height: 46vh;
        width: 30vw;
    }
    .texto{
      width: 65%;
    }
}

@media screen and (max-width: 596px){

  .about .div_sobre_direita{
    width: 70%;
  }

  .about .div_sobre_direita .imagem_rapaziada_escritorio #imagemRapaziadaEscritorio{
    width: 110%;
  }
}

@media screen and (max-width: 500px){

  .about .div_sobre_direita{
    display: none;
  }
}

/* ******* PRODUCT ********* */

.produto {
    background-color: var(--background);
    display: default;
    margin: auto;
    /* overflow: auto; */
    background-image: url("../imgs/vector_produto.svg");
    background-position: 28% center;
    background-repeat: no-repeat;
    background-size: 30%;
    width: 100%;
    height: 110vh;
}

.container_produto {
    display: flex;
}

.produtos1a3 {
    width: 40%;
}

.div_celular_produto {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 7vh;
    width: 20%;
    height: 90vh;
}

.produto_titulo {
    font-weight: var(--weight-title);
    color: var(--title-color);
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 25px;
}

.celular_produto {
    transition: all 0.3s;
    border: solid var(--background) 2px;
    border-radius: 15px;
    margin-top: 5%;
    width: 100%;
    height: 75%;
    background-image: url("../imgs/celular_produto.svg");
    background-repeat: no-repeat;
    box-shadow: var(--shadow);
    background-size: 100%;
}

.celular_produto:hover {
    border: solid var(--dark-purple) 2px;
}

.botao_produto {
    margin-top: 7vh;
    text-align: center;
    width: 100%;
}

.botao_produto button {
    outline: 0;
    transition: background 0.3s;
    border-radius: 20px;
    cursor: pointer;
    padding: 3%;
    width: 75%;
    color: var(--background);
    background-color: var(--orange-button);
    border: none;
}

.botao_produto button:hover {
    box-shadow: 1px 1px 10px var(--shadow),
    1px 1px 40px var(--orange-button);
    background-color: #FFBF86;
    transition: 0.4s;
}

.botao_produto button:active {
    background-color: var(--orange-button);
}

.produtos4a6 {
    width: 40%;
}

.div_cards_produto {
    padding-top: 5%;
    margin: 15% auto;
    width: 70%;
    height: 80%;
}

.card_produto {
    border: solid var(--background) 2px;
    transition: all 0.3s;
    padding: 5%;
    margin-bottom: 15%;
    margin: 4.5%;
    box-shadow: var(--shadow);
    border-radius: 15px;
    background-color: var(--background);
}

.card_produto:hover {
    border: solid var(--dark-purple) 2px;
}

/* @keyframes teste {
  0% {background-color: var(--background);}
  25% {background-color: var(--light-purple);}
  50% {background-color: var(--dark-purple);}
  75% {background-color: var(--dark-purple);}
  100% {background-color: var(--background);}
} */

.card_produto h2 {
    color: var(--dark-purple);
    float: left;
    padding: 3%;
    margin-left: 5%;
}

.card_produto h3 {
    color: var(--title-color);
    padding: 4%;
    margin-left: 18%;
}

.card_produto div {
    margin: auto 22%;
    width: 72%;
}

.card_span {
    font-weight: 200;
}

.span_card_cadastre_se {
    font-weight: 450;
    color: var(--dark-purple);
}

@media only screen and (max-width: 1150px) {
    .celular_produto {
      display: none;
    }
    .div_celular_produto {
      display: flex;
      align-content: center;
      justify-content: center;
    }
}

/* ******* MOBILE PRODUCT ********* */
@media only screen and (max-width: 1150px) {
    .celular_produto {
        display: none;
    }
    .botao_produto button {
      width: 63.5%;
    }
    .produtos1a3, .produtos4a6 {
        float: none;
        width: 100%;
    }
    .container_produto {
        display: block;
    }
    .div_celular_produto {
        display: block;
        height: 10vh;
        width: 100%;
    }
    .produtos4a6 {
        padding-bottom: 5%;
    }
    .div_cards_produto {
        padding-top: 0;
    }
    .produto {
        background-size: 0%;
    }
}

.header{
    width: 100%;
    height: 100px;  
}


.header img{
    width: 80px;
    height: 78px;
    margin: 15px;
    margin-left: 80px;
    float: left;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding-top: 1%;
  overflow: hidden;
  top: 0;
  float: left;
  margin-left: 20%;
  display: flex;
  }
  

  .header li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header li {
      float: right;
      margin: 10px;
      margin-right: 2px;
  }

  .header a{
    display: block;
    padding: 8px;
  }

  .header li a:hover{
    text-decoration: underline;
    transition: 0.7s;
    color: #F2994A;
  }   
  
  .header li:last-child {
    border-left: none;
  }

  .header li:first-child {
    border-right: none;
  }

  .div-direita{
    float: right;
    width: 40%;
    margin-right: 0;
  }

  .div-direita img{
    float: right;
    height: 750px;
    width: 600px;
  }

  .div-esquerda{
    float: left;
    width: 50%;
    margin: 2%;
    margin-top: 10%;
    padding-left: 4%;
    z-index: 10;
    position: absolute;
  }

  .div-esquerda h1{
    padding-bottom: 5%;
    font-weight: var(--weight-title);
    font-size: 70px;
  }

  .div-esquerda h3{
    padding-bottom: 3%;
    font-weight: var(--text-weight);
  }

  .div-esquerda button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 150.25px;
    height: 57px;
    left: 111px;
    top: 481px;
    background-color: var(--orange-button) ;
    border-radius: 8px;
    border: none;
    color: white;
  }
  
  .div-esquerda button:hover{
   
      box-shadow: 1px 1px 10px var(--shadow),
      1px 1px 40px var(--orange-button);
      background-color: #FFBF86;
      transition: 0.4s;
   
  }

  .impact-phrase{
    color: rgba(29, 53, 71, 0.05);
    font-size: 150px;
    z-index: -1;
    
  }

  .frase-impactante{
    left: -20px;
    top: 320px;
    z-index: -10;
    position: absolute;
    font-weight: bolder ;
  }

  .texts_home{
    position: absolute;
  }

  @media screen and (max-width: 1580px){
    .div-esquerda .texts_home{
      width: 80%;
    }
  }

  @media screen and (max-width: 1424px){
    .div-esquerda .texts_home{
      width: 70%;
    }
  }

  @media screen and (max-width: 1303px){

    .div-esquerda .texts_home{
      width: 70%;
    }
  }

    @media screen and (max-width: 1279px){

      .div-esquerda .texts_home{
        width: 70%;
      }

      .div-direita img{
        float: right;
        height: 700px;
        width: 550px;
      }
    }


      @media screen and (max-width: 1218px){

        .frase-impactante{
          left: 30px;
          top: 320px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 50%;
        } 

        .div-direita img{
          float: right;
          height: 630px;
          width: 500px;
        }

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          margin-left: 80px;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
           
            text-decoration: none;
          }
        
          .header li {
              float: right;
             
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .header img{
            width: 58px;
            height: 58px;
            margin: 15px;
            margin-left: 80px;
            float: left;
            padding-top: 10px;
        }

      }

      @media screen and (max-width: 1041px){
        .div-esquerda .texts_home{
          width: 70%;
        }

        .frase-impactante{
          left: 30px;
          top: 520px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 50%;
        } 

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          
          }

          .impact-phrase{
            color: rgba(29, 53, 71, 0.05);
            font-size: 100px;
            z-index: -1;
            
          }

          .div-direita{
            float: right;
            width: 40%;
            margin-right: 0;
          }
        
          .div-direita img{
            float: right;
            height: 550px;
            width: 400px;
          }
      }
      @media screen and (max-width: 903px){
        .div-esquerda{
          float: left;
          width: 100%;
          margin: 2%;
          margin-top: 10%;
          padding-left: 4%;
          z-index: 10;
          position: absolute;
        }
      
        .div-esquerda h1{
          padding-bottom: 5%;
          font-size: 40px;
        }
      
        .div-esquerda h3{
          padding-bottom: 3%;
        }

        .div-esquerda .texts_home{
          width: 30%;
        }

        .header img{
          width: 50px;
          height: 60px;
          margin: 15px;
          margin-left: 80px;
          float: left;
      }

      .div-direita img{
        float: right;
        height: 550px;
        width: 400px;
      }
      }

      @media screen and (max-width: 836px){
        .impact-phrase{
          color: rgba(29, 53, 71, 0.05);
          font-size: 90px;
          z-index: -1;
          
        }

        .frase-impactante{
          left: 30px;
          top: 520px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 20%;
        } 
      }

      @media screen and (max-width: 817px){
        .impact-phrase{
          color: rgba(29, 53, 71, 0.05);
          font-size: 70px;
          z-index: -1;
          
        }

        .frase-impactante{
          left: 30px;
          top: 520px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 20%;
        } 
      }

      @media screen and (max-width: 791px){

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
       
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            text-decoration: none;
          }
        
          .header li {
              float: right;
              margin-right: 2px;
              font-size: 10px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .header img{
            width: 58px;
            height: 58px;
            margin: 15px;
            margin-left: 80px;
            float: left;
            padding-top: 10px;
        }

        .div-direita{
          float: right;
          width: 40%;
          margin-right: 0;
        }
      
        .div-direita img{
          float: right;
          height: 550px;
          width: 360px;
        }

        .div-esquerda button{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
          width: 100.25px;
          height: 37px;
          left: 111px;
          top: 481px;
          background: #F2994A;
          border-radius: 8px;
          border: none;
          color: white;
        }
        .impact-phrase{
          color: rgba(29, 53, 71, 0.05);
          font-size: 60px;
          z-index: -1;
          
        }

        .frase-impactante{
          left: 30px;
          top: 420px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 20%;
        } 

        .div-esquerda{
          float: left;
          width: 100%;
          margin: 2%;
          margin-top: 10%;
          padding-left: 4%;
          z-index: 10;
          position: absolute;
        }
      
        .div-esquerda h1{
          padding-bottom: 5%;
          font-size: 30px;
        }
      
        .div-esquerda h3{
          padding-bottom: 3%;
        }

        .div-esquerda .texts_home{
          width: 30%;
        }
      }
      
      @media screen and (max-width: 729px){

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
       
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            text-decoration: none;
          }
        
          .header li {
              float: right;
              margin-right: 2px;
              font-size: 10px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .header img{
            width: 58px;
            height: 58px;
            margin: 15px;
            margin-left: 80px;
            float: left;
            padding-top: 10px;
        }

      } 

      @media screen and (max-width: 726px){
        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
       
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            text-decoration: none;
          }
        
          .header li {
              float: right;
              margin-right: 2px;
              font-size: 10px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .header img{
            width: 58px;
            height: 58px;
            margin: 15px;
            margin-left: 80px;
            float: left;
            padding-top: 10px;
        }

      }

      @media screen and (max-width: 679px){
        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 10px;
          }
        
          .header li {
              float: right;
             
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          
  
          .div-esquerda .texts_home{
            width: 30%;
          }
          
          .impact-phrase{
            color: rgba(29, 53, 71, 0.05);
            font-size: 50px;
            z-index: -1;
            
          }
  
          .frase-impactante{
            left: 30px;
            top: 200px;
            z-index: -10;
            position: absolute;
            font-weight: bolder ;
            width: 20%;
          } 
      }
      
      @media screen and (max-width: 652px){

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 8px 8px;
            text-decoration: none;
            font-size: 10px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
             
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

        .div-esquerda h1{
          padding-bottom: 5%;
          font-size: 20px;
        }
      
        .div-esquerda h3{
          padding-bottom: 3%;
          font-size: 15px;
        }

        .div-esquerda .texts_home{
          width: 30%;
        }

        .div-esquerda button:hover{
          box-shadow: 1px 1px 10px #f2984ac9,
          1px 1px 40px #f2984ac9;
          background-color: #FFBF86;
          color:#FFFFFF;
          animation-delay: 2s;
          transition: 1.3s;
        }

        .div-esquerda button{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
          width: 90.25px;
          height: 37px;
          left: 111px;
          top: 481px;
          background: #F2994A;
          border-radius: 8px;
          border: none;
          color: white;
        }

        .div-direita img{
          width: 310px;
        
        }

       

        .header img{
          width: 40px;
          height: 40px;
          margin: 15px;
          margin-left: 80px;
          float: left;
      }

      }

      @media screen and (max-width: 578px){

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 7px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
             
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .div-esquerda .texts_home{
            width: 28%;
          }

          .header img{
            width: 30px;
            height: 30px;
            margin: 15px;
            margin-left: 80px;
            float: left;
            padding-top: 20px;
        }

      }

      @media screen and (max-width: 523px){
        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }

          .header img{
            width: 30px;
            height: 30px;
            margin: 15px;
            margin-left: 80px;
            float: left;
        }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 6px 6px;
            text-decoration: none;
            font-size: 7px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }
      }

      @media screen and (max-width: 460px){
        .header img{
          width: 30px;
          height: 30px;
          margin: 15px;
          margin-left: 40px;
          float: left;
      }
        
        .div-direita img{
          float: right;
          height: 350px;
          width: 210px;
        }

        .div-esquerda h1{
          padding-bottom: 5%;
          font-size: 20px;
        }
      
        .div-esquerda h3{
          padding-bottom: 3%;
          font-size: 10px;
        }

        .div-esquerda .texts_home{
          width: 30%;
          
        }

        .impact-phrase{
          color: rgba(29, 53, 71, 0.05);;
          font-size: 30px;
          z-index: -1;
          
        }

        .frase-impactante{
          left: 30px;
          top: 130px;
          z-index: -10;
          position: absolute;
          font-weight: bolder ;
          width: 20%;
        } 

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 4px 4px;
            text-decoration: none;
            font-size: 8px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
              margin-right: 2px;
          }
        
          .header a{
            display: block;
            padding: 4px;
          }
      }

    


      @media screen and (max-width: 376px){
        

        .div-esquerda .texts_home{
          width: 30%;
          padding-bottom: 20px;
        }

        .div-esquerda button{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 80.25px;
          height: 27px;
          left: 111px;
          top: 481px;
          background: #F2994A;
          border-radius: 8px;
          border: none;
          color: white;
          font-size: 8px;
        }

        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 2px;
            text-decoration: none;
            font-size: 8px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
              
          }
        
          .header a{
            display: block;
            padding: 4px;
          }

          .header img{
            width: 20px;
            height: 20px;
            margin: 15px;
            margin-left: 30px;
            float: left;
        }

        .div-direita img{
          float: right;
          height: 300px;
          width: 200px;
          padding-top: 10px;
        }
      }


      @media screen and (max-width: 305px){
        .header ul {
          list-style-type: none;
          margin: 0;
          padding-top: 1%;
          overflow: hidden;
          top: 0;
          float: left;
          display: flex;
          }
          
        
          .header li a{
            display: block;
            color: black;
            text-align: center;
            padding: 1px;
            text-decoration: none;
            font-size: 4px;
            padding-top: 30px;
          }
        
          .header li {
              float: right;
              
          }
        
          .header a{
            display: block;
            padding: 4px;
          }
      }

      .home{
          padding-bottom: 20px;
      }

      .container-home{
        height: 1000px;
      }
  
  /* @media screen and (max-width: xpx){css novo} */

/* ******* NUMBERS ********* */


/* ******* TESTIMONIALS ********* */
.testimonials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.title {
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 55px;
  color: #272D4E;
  margin-bottom: 4px;
}

.frame {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.frame-one {
  position: absolute;
  z-index: 1;
  margin-left: 1.5%;
}

.frame-two {
  position: absolute;
  z-index: 3;
  margin-top: 10%;
  margin-left: 42%;
}

.frame-tree {
  position: absolute;
  z-index: 3;
  margin-top: 8%;
  margin-left: 45%;
}

.retag {
  width: 48%;
  height: 60%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  z-index: 4;
  box-shadow: 0px 22px 80px rgba(215, 228, 249, 0.5);
  margin-top: 5%;
  margin-left: 11%;
}

.retag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  font-size: 150%;
  color: #94A2B3;
  z-index: 3;
}

.img-aspas {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10%;
  z-index: 2;
}

.btn-seta {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-seta #img1 {
  opacity: 50%;
  margin-right: 24px;
  cursor: pointer;
}

.btn-seta #img2 {
  margin-left: 24px;
  cursor: pointer;
}

/* ******* FOOTER ********* */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 2;
  position: absolute;
  margin-top: 15%;
}
.ret-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-titlle {
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}
.text-text {
  color: #fff;
}

/* *** Responsividade *** */
@media screen and (max-width: 1405px) {
  .title {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1288px) {
  .title {
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1188px) {
  .title {
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1149px) {
  .testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }
  .frame-tree {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 45%;
  }
  .frame-two {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 39%;
  }
}

@media screen and (max-width: 1084px) {
  .title {
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .frame-tree {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
  }
  .title {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .text-titlle {
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
    font-size: 12px;
  }
  .text-text {
    color: #fff;
    font-size: 10px;
  }
}

@media screen and (max-width: 923px) {
  .title {
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .frame-tree {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 35%;
  }
}

@media screen and (max-width: 847px) {
  .title {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .frame-tree {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 730px) {
  .title {
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .frame-one {
    position: absolute;
    z-index: 1;
    margin-left: 0.2%;
  }
  .frame-two {
    position: absolute;
    z-index: 3;
    margin-top: 17%;
    margin-left: 28%;
  }
  .frame-tree {
    position: absolute;
    z-index: 3;
    margin-top: 12%;
    margin-left: 25%;
  }
}

@media  screen and (max-width:700px) {
  .frame-one {
    display: none;
  }
  .frame-two {
    display: none;
  }
  .frame-tree {
    display: none;
  }
  .retag {
    width: 48%;
    height: 60%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    z-index: 4;
    box-shadow: 10px 45px 110px rgba(215, 228, 249, 0.5);
    margin-top: 5%;
    margin-left: 11%;
  }
  .text-titlle {
    font-weight: bold;
    color: #fff;
    margin-bottom: 2px;
    font-size: 10px;
  }
  .text-text {
    color: #fff;
    font-size: 8px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #272D4E;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 529px) {
  .title {
    width: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
  }
  .text-titlle {
    font-weight: bold;
    color: #fff;
    font-size: 8px;
  }
  .text-text {
    color: #fff;
    font-size: 6px;
  }
}

@media screen and (max-width: 485px) {
  .title {
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .img-aspas {
    display: none;
  }
}

@media screen and (max-width: 439px) {
  .title {
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: #272D4E;
    margin-bottom: 4px;
  }
  .testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
  }
  .text-titlle {
    font-weight: bold;
    color: #fff;
    font-size: 6px;
  }
  .text-text {
    color: #fff;
    font-size: 4px;
  }
}